[Unit]
After=networking.target

[Service]
ExecStart={{app_path}}/bin/secretary foreground
ExecStop={{app_path}}/bin/secretary stop
User={{app_user}}
RestartSec=5

[Install]
WantedBy=multi-user.target
